{% extends "base.html" %}

{% block content %}
    <ul id="slide-out" class="sidenav sidenav-fixed right">
      <li><div class="user-view">
        <div class="background">
          <img src="http://materializecss.com/images/office.jpg">
        </div>
        <a href="#user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">bookmark</i>موارد ذخیره شده</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">school</i>دوره های من</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">comment</i>ارتباط با محمدرضا</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">pie_chart_outlined</i>وضعیت تحصیلی من</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">person</i>پروفایل</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">settings</i>تنظیمات</a></li>
    </ul>

    
      <div class="container">
        <div class="section">
          asd
        </div>
      </div>

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav({edge: 'right'});
    });
  </script>
{% endblock js %}

