{% extends "base.html" %}
{% load thumbnail %}
 
{% block content %}

  <div class="container">
    <div class="section">
      <h2>{{ course.title }}</h2>
      <div class="card-panel">
        <h3>توضیحات دوره</h3>
        <p>{{ course.description }}</p>
      </div>

      <div class="card-panel">
        <h3>سرفصل دوره</h3>
        <ul>
          <li class="course-list">نصب پایتون</li>
          <li class="course-list">تنظیمات اولیه پایتون</li>
          <li class="course-list">اعداد در پایتون</li>
          <li class="course-list">رشته ها در پایتون</li>
        </ul>
      </div>

      <div class="card-panel">
        <h3>منابع</h3>
        <ul>
          <li class="course-list">سایت <a href="http://tutorialspoint.com">tutorialspoint.com</a></li>
          <li class="course-list">سایت <a href="http://youtube.com">youtube.com</a></li>
        </ul>
      </div>

      <div class="card-panel">
        <h3>دیگه چه خبر از این دوره؟</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی</p>
      </div>

      <a href="#!" class="btn">در این دوره شرکت می‌کنم!</a>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <h2>دیگر دوره ها</h2>
      <div class="row">
        {% for course in courses %}
          {% include "card.html" %}
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock content %}