{% extends "student-dashboard.html" %}


{% block content %}
{{ block.super }}
<div class="container-fluid">
  <div class="row">
      <div class="col s12">
          <br>
          <div class="row">
            <div class="col s12 valign-wrapper">
              <a class="btn" href="{% url 'app-accounts:ticket-add' %}">تیکت جدید</a>
              &nbsp;
              <a id="ticket-search" class="btn" href="#!">جستجو</a>
              <div class="input-field ticket-search col s12 right valign-wrapper">
                <input id="search-query" type="text" class="validate">
                <label for="search-query">دنبال چی میگردی؟</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="card-panel">
                  <table>
                    <thead>
                      <tr>
                          <th class="right-align">موضوع</th>
                          <th class="right-align">تاریخ ارسال</th>
                          <th class="right-align">وضعیت</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ticket in tickets %}
                          <tr>
                            <td class="right-align"><a href="{{ ticket.get_absolute_url }}">{{ ticket.topic }}</a></td>
                            <td class="right-align">{{ ticket.jd_create_datetime }}</td>
                            <td class="right-align"><span class="badge {{ ticket.status_color }} white-text">{{ ticket.status }}</span></td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}


{% block js %}{{ block.super }}
<script type="text/javascript">
  $(document).ready(function(){
    $('#ticket-search').on('click', function(){
      $.get({
        url: '{% url "app-api:ticket-list" %}?search=' + $('#search-query').val().split(' ').join('+'),
        success: function(data, status){
          res = ''
          $.each(data, function(index, item){
            console.log(12)
            topic = item['topic']
            res += `<tr>
                <td class="right-align"><a href="${item['get_absolute_url']}">${item['topic']}</a></td>
                  <td class="right-align">${item['jd_create_datetime']}</td>
                  <td class="right-align"><span class="badge ${item['status_color']} white-text">${item['status']}</span></td>
              </tr>`
          })
          $('tbody').html(res)
        }
      })
    })
  });
</script>
{% endblock js %}