{% load thumbnail %}
<div class="card">
  <div class="card-image">
    <a href="{% url 'app-base:course-detail' course.title %}">
      {% thumbnail course.image "300x220" crop="center" as im %}
        <img src="{{ im.url }}" class="responsive-img" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
      <span class="card-title">{{ course.title }}</span>
    </a>
  </div>
  <div class="card-content">
    <p>{{ course.description|truncatewords:11 }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'app-base:course-detail' course.title %}">جزئیات دوره</a>
    <a href="#">شرکت در دوره</a>
  </div>
</div>